html {
  background-image: url("../../assets/crumpledpaper.jpg");
}

.headline {
  text-align: center;
  font-size: 3em;
}

.CreatePost {
  text-align: center;
  height: 60vh;
  padding: 5px;
  background-color: rgba(117, 100, 26, 0.226);
  border-radius: 15px;
}

.PostForm {
  height: 30vh;
}

input {
  padding: 3px;
  margin: 5px;
  margin-top: 10px;
}

ul {
  font-size: 18px;
}

li {
  list-style: none;
}
